/* General styling */

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #22395d;
    width: 350px;
    height: auto;
}

#mainbody {
    border: 2px #355a94 solid;
    border-radius: 25px;
    background-color: #355a94;
}

#creditsdiv {
    background-color: #22395d;
    height: 18px;
    border-radius: 25px;
    width: fit-content;
}

#creditspar {
    color: #006DF9;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #006DF9;
    border: 0px black solid;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    transition: transform 0.1s;
}

button:hover {
    border: 3px #006DF9 solid;
    transform: scale(1.1);
    background-color: #74a1dd;
}

h1 {
    color: white;
    font-size: 23px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #006DF9;
}

.divbuttonbox {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #006DF9;
    border: 0px black solid;
    border-radius: 25px;
    display: flex;
}

.divbuttonbox p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}

/* Switches */

.switch {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}