html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #5A5A5A;
    width: 350px;
    height: auto;
}

.error {
    color: #FF0000 !important
}

button {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #006DF9;
    border: 0px black solid;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    transition: transform 0.1s;
}

button:hover {
    border: 3px #006DF9 solid;
    transform: scale(1.1);
    background-color: #74a1dd;
}

h1 {
    color: white;
    font-size: 23px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #006DF9;
}